.container {
  position: relative;
}

.container button:focus {
  outline: none;
}

.headerContainer {
  background: linear-gradient(270deg, #ed3f21 0%, #dc2c73 100%);
  z-index: 2;
  min-height: 110px;
}

.headerTP {
  font-family: "Source Code Pro", monospace;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
}

.headerTP span {
  margin-left: 20px;
  font-weight: 300;
}

.headerText {
  font-size: 11px;
  color: #fff;
  margin-top: 10px;
}

.headerSubText {
  font-size: 11px;
  color: #fff;
  margin-top: 2px;
  margin-bottom: 20px;
}

.subContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  align-items: center;
  z-index: 2;
}

.subContainer > div:last-child {
  margin-bottom: 50px;
}

.subContainer::-webkit-scrollbar {
  border-left: 8px solid rgba(0, 0, 0, 0.05);
  width: 10px;
}

.subContainer::-webkit-scrollbar-thumb {
  border-left: 8px solid rgba(0, 0, 0, 0.1);
}

.subHeader {
  position: relative;
  font-size: 20px;
  text-align: center;
  margin: 40px 0px 20px 0px;
  z-index: 2;
}

.subBody {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #ababab;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  margin: 0px 20px;
  max-width: 900px;
}

.subBody p {
  font-size: 12px;
  line-height: 20px;
}

.teamContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 440px;
}

.memberContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 185px;
  border-radius: 5px;
  background: #f2f2f2;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.memberImg {
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.memberName {
  margin-top: 20px;
}

.memberRole {
  margin-top: 5px;
  color: #E93A34;
}

.votingFor {
  font-size: 12px;
}

.votingFor span {
  color: #ed3f21;
}

.dropdown {
  position: relative;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  text-indent: 20px;
  font-size: 12px;
  margin: 30px 0px;
}

.dropdown svg {
  position: absolute;
  right: 5px;
  top: 3px;
  transform: rotate(90deg);
  z-index: -1;
}

.voteHistory {
  margin: 30px 0px 5px 0px;
}