.container button {
    margin-top: auto;
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button:focus {
    outline: none;
}

.headerContainer {
    background: linear-gradient(270deg, #ED3F21 0%, #DC2C73 100%);
    z-index: 2;
}

.headerTP {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

.headerTP span {
    margin-left: 20px;
    font-weight: 300;
}

.headerText {
    font-size: 11px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    background-color: #fff;
    padding: 35px 80px;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 5px;
    width: 600px;
}

.votingFor {
    font-size: 12px;
}

.votingFor span {
    color: #ED3F21;
}

.dropdown {
    position: relative;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
    font-size: 12px;
    margin: 30px 0px;
}

.dropdown svg {
    position: absolute;
    right: 5px;
    top: 3px;
    transform: rotate(90deg);
    z-index: -1;
}