.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #0B0F12;
}

.white {
    color: #fff;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    max-height: 580px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    min-width: 385px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.subContainer button {
    margin-top: auto;
}

.closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 10px;
    fill: #fff;
    padding: 10px 10px 8px 10px;
    cursor: pointer;
    z-index: 10;
}

.backArrow {
    position: absolute;
    top: 30px;
    left: 30px;
    border-top: 2px solid #ED3F21;
    border-left: 2px solid #ED3F21;
    border-bottom: 2px solid #DC2C73;
    border-right: 2px solid #DC2C73;
    border-radius: 10px;
    fill: #fff;
    padding: 10px 10px 8px 10px;
    cursor: pointer;
    z-index: 10;
}

.backArrow:hover {
    background: rgba(255,255,255,0.1);
}