.container {
  background: linear-gradient(270deg, #de624d 0%, #ec478a 100%);
  height: 100%;
}

.bg {
  z-index: 0;
}

.subContainer {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  animation: hover 3s ease-in-out infinite;
}

.logo {
  margin-top: -20px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
}

.header {
}

.subHeader {
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  margin-top: 10px;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
