.bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
  padding: 30px 20px 25px 30px;
  background-image: linear-gradient(
    to bottom,
    #0b0f12 20%,
    rgba(12, 16, 19, 0.8) 70%,
    rgba(0, 0, 0, 0)
  );
  z-index: 5;
  height: 81px;
  min-height: 81px;
  cursor: default;
}

.bar svg {
  font-size: 24px;
  fill: #c1c1c1;
}
