.ui.dropdown {
}

.ui.dropdown:focus {
  outline: none;
}

.ui.dropdown:hover {
  cursor: pointer;
}

.ui.dropdown .menu {
  display: none;
  position: absolute;
  min-width: 240px;
  background: #fff;
  right: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 5;
}

.ui.dropdown.visible .menu {
  display: block;
}

.ui.dropdown .menu .item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #808080;
  height: 30px;
  border-bottom: 1px solid #efefef;
  padding: 5px 0px;
  margin-top: 5px;
  cursor: pointer;
  transition: 300ms;
}

.ui.dropdown .menu .item:hover {
  transition: 0s;
  color: #ed3f21;
}

.ui.dropdown .menu .item:hover svg {
  transition: 0s;
  fill: #dc2c73;
}

.ui.dropdown .menu .item:last-child {
  border-bottom: none;
}

.ui.dropdown .menu .item span {
  display: inline-block;
  line-height: 30px;
}

.ui.dropdown .menu .item svg {
  display: inline;
  margin-right: 10px;
  fill: #808080;
  height: 24px;
  width: 24px;
}

/* selection dropdown */

.ui.dropdown.selection .menu {
  margin-top: 5px;
  position: absolute;
  min-width: 240px;
  background: #fff;
  right: -2px;
  left: -2px;
  border-radius: 2px;
  padding: 0;
  z-index: 5;
  border: 1px solid grey;
}

.ui.dropdown.selection .menu .item {
  height: 20px;
}
