.ui.secondary {
  z-index: 5;
}

.ui.secondary.menu {
  position: relative;
  z-index: 5;
  height: 50px;
}

.ui.secondary .item {
  display: inline-block;
  height: 100%;
  line-height: 52px;
  background: #bfbfbf;
  width: 145px;
  font-size: 13px;
  border-top: 2px solid #ed3f21;
  border-bottom: 2px solid #dc2c73;
  cursor: pointer;
  transition: 200ms;
}

.blue .ui.secondary .item {
  background: #0f1418;
  color: #fff;
  box-shadow: inset 0px 0px 5px #000;
}

.ui.secondary .item:first-child {
  border-top: 2px solid #ed3f21;
  border-left: 2px solid #ed3f21;
  border-bottom: 2px solid #dc2c73;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ui.secondary .item:last-child {
  border-top: 2px solid #ed3f21;
  border-bottom: 2px solid #dc2c73;
  border-right: 2px solid #dc2c73;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ui.secondary .item.active {
  transition: 0s;
  color: #fff;
  background: linear-gradient(270deg, #ed3f21 0%, #dc2c73 100%);
  box-shadow: none;
}

.ui.segment.active.tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
