.ui.search {
  z-index: 5;
}

.ui.search input {
  width: 100%;
  height: 50px;
  text-indent: 20px;
  padding: 0px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.ui.search input:focus {
  outline: none;
}

.ui.search .results {
  display: none;
  position: absolute;
  margin-top: 5px;
  left: 10%;
  right: 10%;
  background: #fff;
  border-radius: 5px;
}

.ui.search .results.visible {
  display: block;
}

.ui.search .results .message {
  font-family: "Source Code Pro";
  font-size: 11px;
  padding: 5px;
  color: #909090;
}

.ui.search .result {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  transition: 300ms;
}

.ui.search .result:hover {
  transition: 0s;
  background: rgba(0, 0, 0, 0.04);
}

.ui.search .result span {
  font-size: 11px;
  color: #afafaf;
}
