.container {
  z-index: 5;
}

.white {
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 30px;
  left: 30px;
  border-top: 2px solid #ed3f21;
  border-left: 2px solid #ed3f21;
  border-bottom: 2px solid #dc2c73;
  border-right: 2px solid #dc2c73;
  border-radius: 10px;
  fill: #fff;
  padding: 10px 10px 8px 10px;
  cursor: pointer;
  z-index: 10;
}

.backArrow:hover {
  background: rgba(255, 255, 255, 0.1);
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  max-height: 580px;
  max-width: 500px;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  text-align: left;
}

.subContainer button {
  margin-top: 30px;
}

.header {
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

.headerSubText {
  font-size: 13px;
  color: #3e3e3e;
}

.textArea,
.textArea textarea {
  margin-top: 20px;
  resize: none;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.textArea textarea:focus {
  outline: none;
}
