.container {
  z-index: 5;
  padding: 0px 25px 60px 25px;
  box-sizing: border-box;
  max-width: 550px;
  min-width: 490px;
  margin: 0 auto;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30px;
  z-index: 5;
}
