.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #31353E 0%, #192028 51.21%, #0B0F12 100%);
  min-width: 350px;
  box-sizing: border-box;
  height: 100%;
}

.buttonContainer {
  position: absolute;
  right: 10px;
  left: 0;
  bottom: 0;
  padding: 20px 30px 20px 40px;
  z-index: 5;
  box-sizing: border-box;
}

.buttonContainer > div {
  box-shadow: 0px 0px 7px #212121;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
