.textArea,
.textArea textarea {
    margin-top: 20px;
    resize: none;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.textArea textarea:focus {
    outline: none;
}

.addressContainer {
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 12px;
    border: 2px solid #ed3f21;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 30px;
}

.addressContainer svg {
    fill: grey;
}

.address {
    margin-left: 10px;
    border: 0px;
    line-height: 25px;
    text-align: center;
    width: 280px;
    font-size: 12.5px;
}
