.wallet {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.05);
    border-radius: 5px;
    margin: 5px 30px 0px 30px;
    transition: background-color 300ms;
    cursor: pointer;
    padding: 20px 0px 10px 0px;
    box-sizing: border-box;
    border:2px transparent;
}

.wallet:hover {
    transition: 0s;
    background-color: rgba(255,255,255,0.08);
}

.wallet:first-child {
    margin: 85px 30px 0px 30px;
}

.wallet:last-child {
    margin: 5px 30px 85px 30px;
}

.wallet:first-child:last-child {
    margin: 85px 30px 0px 30px;
}

.wallet > .walletIcon {
    fill: #9B9B9B;
    font-size: 25px;
    padding: 0px 20px;
}

.wallet > .arrowIcon {
    fill: #fff;
    font-size: 30px;
    padding: 15px;
}

.wallet svg {
    margin: auto 0px;
}

.walletInfo {
    font-size: 12px;
    text-align: left;
    flex-grow: 1;
}

.walletInfo > li {
    font-family: 'Source Code Pro', monospace;
    color: #9B9B9B;
    margin-bottom: 5px;
}

.walletInfo > .name {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 8px;
}

.active {
    background-color: rgba(255,255,255,0.1);
}