.container {
    display: flex;
    width: 60%;
    margin: 30px auto;
}

.qrScan {
    background: linear-gradient(270deg, #ED3F21 0%, #DC2C73 100%);
    width: 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    fill: #fff;
    padding-left: 5px;
    cursor: pointer;
    z-index: 5;
}

.qrScan svg {
    margin: 12px 0px 0px 10px;
}

.searchBar {
    flex-grow: 1;
}

.resultContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.resultAddress, .resultName {
    color: #696969;
    font-size: 12px;
}

