.coinContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  margin: 0px 2px;
  min-width: 110px;
  padding: 10px 4px;
  border-radius: 5px;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  transition: 300ms;
}

.coinContainer:first-child {
  margin-left: 20px;
}

.coinContainer:last-child {
  margin-right: 20px;
}

.coinAmount {
  font-size: 11px;
  padding: 0px 20px;
  color: #fff;
  font-weight: 300;
}

.coinType {
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
}

.active {
  background: rgba(255, 255, 255, 0.5);
}
