.walletView {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.buttonContainer button {
    width: 140px;
    margin: 20px 5px;
}

.moreMenu {
    position: absolute;
    right: 30px;
    top: 42px;
}