.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #3a3e48 0%, #171e23 100%);
    width: 80px;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    z-index: 2;
    border-right: 1px solid #1d1d1d;
}

.logo {
    cursor: pointer;
}

.logo svg {
    display: block;
    width: 25px;
    margin: 0 auto;
    padding: 10px;
}

.link svg {
    font-size: 25px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    fill: #C1C1C1;
    transition: background-color 200ms;
}

.link:hover svg {
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.08);
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    margin: 8px 0px;
}

.top {
    margin-bottom: auto;
    margin-top: 25px;
}

.bottom {
    margin-top: auto;
    margin-bottom: 25px;
}

.active > svg {
    fill: #fff;
    background: linear-gradient(270deg, #ED3F21 0%, #DC2C73 100%);
}