.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, #3a3e48 0%, #171e23 100%);
  min-width: 80px;
  height: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-right: 1px solid #1d1d1d;
}

.logo {
  cursor: pointer;
}

.logo svg {
  display: block;
  width: 25px;
  margin: 0 auto;
  padding: 10px;
  stroke: #fff;
}

.link svg {
  font-size: 25px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  fill: #c1c1c1;
  transition: background-color 200ms;
}

.link:hover svg {
  transition: 0s;
  background-color: rgba(255, 255, 255, 0.08);
}

.link {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  margin: 8px 0px;
}

.navText {
}

.navBackground {
  position: absolute;
  top: 0;
  left: 17px;
  height: 45px;
  width: 45px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(270deg, #ed3f21 0%, #dc2c73 100%);
  z-index: -1;
  opacity: 0;
  transition: 250ms;
  transform: scale(0);
}

.active > .navBackground {
  opacity: 1;
  transform: scale(1);
}

.top {
  margin-bottom: auto;
  margin-top: 25px;
}

.bottom {
  margin-top: auto;
  margin-bottom: 25px;
}

.active > svg {
  fill: #fff;
}
